.green{
    width:1920px;
    height:762px;
    background-color:#DCEDDE;
}
.btns{
    display:flex;
    gap:40px;
}



#convent{
    width:248px;
    height:45px;
    border: none;
    border-radius:100px;
    margin-top:150px;
    margin-left:545px;
    color:#ffffff;
    background-color:#4D8654;
    font-size:18px;
    font-weight:500;
    text-align:center;
    line-height:12px;
    cursor: pointer;

}

#origin{
    width:248px;
    height:45px;
    border-radius:100px;
    border:none;
    margin-top:150px;
    color:#4D8654;
    background-color:#ffffff;
    font-size:18px;
    font-weight:500;
    text-align:center;
    line-height:12px;
    cursor:pointer;
}
#origin:hover{
    color:#ffffff;
    background-color:#4D8654;
}

#load{
    width:248px;
    height:45px;
    border-radius:100px;
    border:none;
    margin-top:150px;
    color:#4D8654;
    background-color:#ffffff;
    font-size:18px;
    font-weight:500;
    text-align:center;
    line-height:12px;
    cursor:pointer;
}

#load:hover{
    color: #ffffff;
    background-color: #4D8654;
}

.world{
    position: relative;
    display:flex;
    gap:70px;
}

.area{
    position:absolute;
    margin-left:355px;
    margin-top:100px;
}
.world p{
    position:absolute;
    margin-top:135px;
    line-height:30px;
    font-size:18px;
    font-weight:500;
    margin-left:965px;
}